/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif,;
  margin: 2em;
  background-color: #E0FFFF;
  color: #008080;
}

h1 {
  font-style: italic;
  color: #5F9EA0;
}
